<%= render "plantilla/navarticle.html" %> 
<% if @article != nil %>    
    <div class="row" style="padding-top:20px;">
      <div class="col-md-12"> 
        <div class="col-md-4">
          <center>
            <%= image_tag(@article.cover.url(:thumb,class:"img-thumbnail"))%> 
          </center>
        </div>
        <div class="col-md-8">
          <h2><%= link_to @article.titles %></h2>
          <ul class="list-group"> 
            <li class="list-group-item">
              Autor: <%= @article.user.email %> /
              Fecha: <%= @article.created_at %>
            </li>
          </ul>
          <p style="text-align:justify;">
            <%= @article.description %>
          </p> 
        </div> 
      </div>
    </div>
    <div class="row">
      <h2><b>Comentarios</b></h2>
        <hr/>
        <%= render "comments/form" %>
      <br/>
      <% if @article.comments != nil%>
        <div id="comments-box" class="well well-sm">
          <% @article.comments.each do |comment|  %>
            <p><span style="color:red"><b><%= comment.user.email %></b></span> dice: 
            <%= comment.body %> </p>
          <% end %>
        </div>
      <% end %>
    </div>  
<% end %>
