<%= render "menuProduct" %>

  <div class="row">
    <div class="col-md-12">
      <% @products.each do |product| %> 
        <div class="col-md-4">
        <div style="background:url(<%= product.cover.url()%>);background-size:100% 100%;
                    margin: 0px 5px 5px 0px;">
          <h3><%= product.title %></h3>          
          <p style="text-align:justify;" >
            <%= product.description %>
          </p>
        </div> 
          <ul class="list-group" >
            <li class="list-group-item"> 
              <%= link_to 'Leer Mas',product %> 
            </li>
          </ul> 
        </div> 
      <% end %>
    </div>
  </div>


